venv/
_pycache_/
*.pyc 
.env
*.json
.DS_Store

# Ignorar los archivos de datos
data/raw/portal_inmobiliario/2023/*
data/raw/portal_inmobiliario/2024/*
data/raw/toctoc/2023/*
data/raw/toctoc/2024/*
data/raw/uf/*

# Mantener los .gitkeep
!data/raw/portal_inmobiliario/2023/.gitkeep
!data/raw/portal_inmobiliario/2024/.gitkeep
!data/raw/toctoc/2023/.gitkeep
!data/raw/toctoc/2024/.gitkeep
!data/raw/uf/.gitkeep